* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.58;
	color: #333;
	background-color: #3C3B3D;
}

body:before {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #9a9a9a;
	content: "";
	z-index: 0;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	font-size: 1.7em;
}

a {
	color: #128ff2;
}

button {
	box-shadow: none;
	border: 1px solid transparent;
	font-size: 14px;
	outline: none;
	line-height: 100%;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.6rem 1rem;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	min-height: 38px;
}

@media screen and (min-width: 500px) {
	.file-input {
		width: calc(100% - 115px);
	}
	.submit-btn {
		display: inline-block;
		margin-top: 0;
	}
}

.upload-container {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	background-color: #3C3B3D;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	margin-top: 60px;
	min-height: 400px;
	position: relative;
	padding: 20px;
}

.upload-header h2 {
	color: #fff;
	font-weight: 500;
}

.upload-response {
	color: #fff; overflow-x : hidden;
	word-break: break-all;
	margin-top: 20px;
	margin-left: 30%;
	overflow-x: hidden;
}

.multiple-upload {
	width: 100%;
	height: 100%;
}

form {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	width: 500px;
	height: 200px;
	border: 4px dashed #fff;
}

form p {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 170px;
	color: #fff;
	font-family: Arial;
}

form input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
}

form button {
	margin: 0;
	color: #fff;
	background: #0073aa;
	border: none;
	width: 490px;
	height: 35px;
	border-radius: 4px;
	border-bottom: 4px solid #005780;
	transition: all .2s ease;
	outline: none;
}

form button:hover {
	background: #00344d;
	color: #008bcc;
	border-bottom: 4px solid #002333;
}

form button:active {
	border: 0;
}

#multipleFileUploadInput {
	width: 100%;
}